body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    overflow: hidden;
    border-radius: 20px;
    max-width: 500px;
    background-color: #1C1C1C;
}

#display {
    width: 100%;
    padding: 25px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #1C1C1C;
    color: white;
}

button:hover {
    background-color: rgb(150, 150, 150);
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.operand {
    background-color: rgb(255, 166, 0);
}

.operand:hover {
    background-color: rgb(255, 191, 73);
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 3rem;
    border: none;
    background-color: #505050;
    color: white;
    font-weight: bold;
    cursor: pointer;
}